<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inmu.activity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WodeActivity"></activity>
        <activity android:name=".ListViewActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GridViewActivity" />
        <activity android:name=".ViewPagerActivity"></activity>
        <service android:name=".service.OneService">
            <intent-filter>
                <action android:name="myService" />
            </intent-filter>
        </service>
    </application>

</manifest>